body { font-family: Arial, sans-serif; padding: 20px; background-color: #f9f9f9;
    background-color: #8c92ac;
 }

h1 { 
    text-align: center; margin-bottom: 20px; 
}
        

form.search-form {
    text-align: center;
    margin-bottom: 20px;
    }
form.search-form input[type="text"] {
    padding: 8px;
    width: 250px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #aaa;
    }
form.search-form button {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #aaa;
    background-color: #a6d608;
    cursor: pointer;
    }
form.search-form a {
    margin-left: 10px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    }


table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffe4b5 ;
    border-radius:5px;
    table-layout: fixed;
    }

th, td {
    padding: 10px;
    border: 1px solid #aaa;
    text-align: left;
    }
th {
    background-color: #eee;
    }
tbody {
    max-height: 60vh;
    display: block;
    overflow-y: auto;
    }
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    }
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
        }
thead {
    width: calc(100% - 1em);
    display: table;
    }
/* tbody tr:nth-child(even) {
    background-color: #fafafa;
    } */


form.search-form a {
    font-size: 14px;
    border:1px solid black;
    background-color:#778899;
    color:white;
    font-size: 20px;
    border-radius:5px;
    padding:5px;
}