h1{
    margin-left:40vw;
    margin-right:40vw;
    text-align:center;
    border:1px solid blue;
    border-radius:5px;
    background-color:#bfff00 ;
}
h3{
    margin-left:2vh;
}

.cont{
    background-color:#e6e6fa;
    margin-top:0px;
}


.container{
    height:35vh;
}



span{
    color:#800080;
    font-size:25px
}


.saved{
    background-color:#ba55d3;
    border-radius:5px;
    overflow:hidden;
}


.saved ul{
    height:10vh;
    overflow-y: auto;
    overflow-x:auto;
}

ul{
    margin-left:1vw;
    margin-right:1vw;
    border:2px solid #4b5320;
    border-radius:5px;
    padding:20px;
    font-size:20px;
    margin-top:0px;
    background-color:white;
}


small{
    border:0.5px solid #faf0e6;
    border-radius:5px;
    background-color:#deb887;
    padding:1px;
}



h2{
    margin-left:1vw;
    display:inline;
    border:1px solid black;
    background-color:#f5f5dc;
    padding:1px;
    border-radius:5px;
}


.text{
height:50vh;
width:87vw;
font-size:20px;
align-items:center;
margin-left:5%;
margin-right:5%;
background-color:rgb(213, 233, 171);
border-radius:5px;
padding:2px;
resize:none;
}

button{
    width:10vw;
    height:6vh;
    margin-left:45vw;
    margin-top:2px;
    border-radius:5px;
    background-color:#a6d608;
    font-size:20px;
}