form{
  display:flex;
  flex-direction:column;
  width:20vw;
  margin-left:35vw;
  margin-top:20vh;
  border:2px solid grey;
  padding:10px;
  border-radius:5px;
  background-color:#add8e6;
  margin-bottom:5vh;
}

input{
  height:5vh;
  border-radius:5px;
  border:none;
  padding:5px
}

button{
  height:8vh;
  border-radius:6px;
  border:none;
  width:15vw;
  margin-left:12%;
  background-color:#00008b;
  color:white;
}

a{
  margin-left:45vw;
  border:1px solid #4169e1;
  padding:5px;
  text-decoration:none;
  border-radius:5px;
  color:white;
  background-color:#191970;
}
