{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{% static 'admin.css' %}">
   
</head>
<body>

    <h1>Admin Panel - All Users Data</h1>

    
    <form method="get" action="{% url 'admin_panel' %}" class="search-form">
        <input type="text" name="q" placeholder="Search by username" value="{{ query }}">
        <button type="submit">Search</button>
        {% if query %}
            <a class="clear" href="{% url 'admin_panel' %}">Clear Search</a>
        {% endif %}
    </form>


    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Message</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for message in all_messages %}
            <tr>
                <td>{{ message.user.username }}</td>
                <td>{{ message.user.email }}</td>
                <td>{{ message.text }}</td>
                <td>{{ message.created_at|date:"Y-m-d H:i" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No messages found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
